.game-field{
    height: 70vh;
    width: 70vh;

    border: 2px solid silver;
    border-radius: 20px;
    padding: 10px;

    user-select: none;
}
.ghost {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

@media screen and (orientation:portrait){
    .game-field{
        height: 70vw;
        width: 70vw;
    }
}