.block{
    margin: .5vh;
    border-radius: 1.5vh;
    border: 1px solid white;
    will-change: transform, opacity;
    
    &:hover{
        filter: brightness(.7);
        cursor: pointer;
    }
}
.block.dragged {
    opacity: 0.3;
    transform: scale(0.9);
}

@keyframes fallDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes returnToPlace {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(0, 0);
    }
}

.return-animation {
    animation: returnToPlace 0.5s ease-out;
}

@media screen and (orientation:portrait){
    .block{
        margin: .5vw;
        border-radius: 1.5vw;
    }
}