:root {
  --background: #171717;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-touch-callout: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --------------------------- */

.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.align-c{
  align-items: center;
}
.space-b{
  justify-content: space-between;
}
.space-a{
  justify-content: space-around;
}
.center{
  justify-content: center;
}
/*  ------------------------------  */

main{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}